.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ece6c2;
    padding: 15px 30px;
    border: 1px solid #6f5643;
    margin-bottom: 20px;
    border-radius: 6px;
}

.productImage {
    width: 80px;
    height: 90px;
    border-radius: 5px;
}

.data {
    text-align: left;
}

.data h3 {
    color: #22845f;
    margin-bottom: 5px;
  }
  
  .data p {
    color: #6f5643;
    font-weight: bold;
  }

  .quantity {
  background: #ecca43;
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inherit;
  border-radius: 3px;
  color: #6f5643;
  font-weight: bold;
  text-align: center;
  }


  .buttonContainer button {
  background-color: #cc6b49;
  border: none;
  color: #ece6c2;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  font-size: 1.3rem !important;
  font-weight: bold;
  line-height: 25px;
  box-shadow: rgba(93, 79, 50, 0.25) 0px 4px 12px -2px,
    rgba(51, 34, 5, 0.3) 0px 3px 7px -3px;
  margin-left: 15px;
  }

  .buttonContainer img {
    width: 20px;
  }

  @media (max-width: 470px) {
    .container {
      flex-direction: column;
    }
  
    .productImage {
      width: 150px;
    }
  
    .data {
      text-align: center;
    }
  
    .data h3 {
      margin: 30px 0 20px;
    }
  
    .data p {
      margin: 20px 0 30px;
    }
  
    .quantity {
      margin: 0 0 10px;
    }
  
    .buttonContainer {
      margin: 20px 0 20px;
    }
  }