.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    padding: 0 100px;
    
}

.loadingContainer {
    text-align: center;
}

@media (max-width: 1200px) {
    .container {
        padding: 15px 80px;
        margin-top: 110px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 15px 40px;
        margin-top: 100px;
    }
}

@media (max-width: 555px) {
    .container {
        padding: 15px 10px;
        justify-content: center;
    }
}